<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<routeTree>
    <root>
        <station>
            <code>duitama1</code>
            <location>Duitama</location>
        </station>
        <children>
            <node>
                <station>
                    <code>paipa1</code>
                    <location>Paipa</location>
                </station>
                <children>
                    <node>
                        <station>
                            <code>tunja1</code>
                            <location>Tunja</location>
                        </station>
                        <children/>
                    </node>
                </children>
            </node>
            <node>
                <station>
                    <code>tibasosa1</code>
                    <location>Tibasosa</location>
                </station>
                <children>
                    <node>
                        <station>
                            <code>sogamoso1</code>
                            <location>Sogamoso</location>
                        </station>
                        <children/>
                    </node>
                </children>
            </node>
            <node>
                <station>
                    <code>nobsa1</code>
                    <location>Nobsa</location>
                </station>
                <children>
                    <node>
                        <station>
                            <code>sogamoso2</code>
                            <location>Sogamoso</location>
                        </station>
                        <children/>
                    </node>
                </children>
            </node>
        </children>
    </root>
</routeTree>
