<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<routeTree>
    <root>
        <station>
            <code>Terminal Duitama</code>
            <location>Duitama</location>
        </station>
        <children>
            <node>
                <station>
                    <code>Terminal Paipa</code>
                    <location>Paipa</location>
                </station>
                <children>
                    <node>
                        <station>
                            <code>Terminal Tunja</code>
                            <location>Tunja</location>
                        </station>
                        <children>
                            <node>
<station>
    <code>Terminal Bogota</code>
    <location>Bogota</location>
</station>
<children/>
                            </node>
                        </children>
                    </node>
                </children>
            </node>
            <node>
                <station>
                    <code>Terminal Tibasosa</code>
                    <location>Tibasosa</location>
                </station>
                <children>
                    <node>
                        <station>
                            <code>Terminal Sogamoso</code>
                            <location>Sogamoso</location>
                        </station>
                        <children>
                            <node>
<station>
    <code>Terminal Yopal</code>
    <location>Yopal</location>
</station>
<children/>
                            </node>
                            <node>
<station>
    <code>Terminal Zipaquira</code>
    <location>Zipaquira</location>
</station>
<children/>
                            </node>
                            <node>
<station>
    <code>Terminal Firavitoba</code>
    <location>Firavitoba</location>
</station>
<children/>
                            </node>
                        </children>
                    </node>
                    <node>
                        <station>
                            <code>Terminal Nobsa</code>
                            <location>Nobsa</location>
                        </station>
                    </node>
                </children>
            </node>
        </children>
    </root>
</routeTree>
